#!/bin/sh

git diff --quiet HEAD -- ../../secrets
rc=${?}

if [ ${rc} -eq 0 ]; then
  echo "pre-commit: no changes in secrets directory"
  exit 0
fi

echo "pre-commit: changes in secrets directory, will try to encrypt"

output="$(make encrypt_pre_commit)"
rc=${?}

if [ ${rc} -eq 0 ]; then
  echo "pre-commit: sensitive files encrypted successfully"
  exit 0
else
  printf "pre-commit: failed to encrypt sensitive files:\n%s" "${output}"
  exit 1
fi
